<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.PlainPhone"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PlainPhone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StatsActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="com.plainphone.app.onboarding"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".FlaggedAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".FlaggedAppChangeActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".WaitTimeActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <activity
            android:name=".SettingsGateActivity"
            android:exported="false"
            android:theme="@style/Theme.PlainPhone" />

        <service
            android:name=".AppMonitorService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>
</manifest>
